<p>Programming student living in spain. I like pretty games and music!</p>
<p>20 | he/him | INFP</p>

<p>
Go check <a href="https://spacehey.com/profile?id=2585460">my friend's blog!!</a> She's so cool
</p>

<!-- (c) Layout created by p0libius (https://layouts.spacehey.com/layout?id=1430) -->

<style>

body {
 image-rendering: crisp-edges;
 image-rendering: -moz-crisp-edges;          /* Firefox */
 image-rendering: -o-crisp-edges;            /* Opera */
 image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
 -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
font-family: Courier New, monospace;

background-color:#221600;

background:url("https://thumbs2.imgbox.com/74/89/9FZ7y8gw_t.jpg") top center;
background-size:100%;
background-attachment: fixed;


}
<--
img {
filter: sepia(100%) hue-rotate(45deg) saturate(5);
}
-->
body::before {
content: " ";
display: block;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
z-index: 2;
background-size: 100% 2px, 3px 100%;
pointer-events: none;
}
.logo {
filter: sepia(100%) hue-rotate(300deg) saturate(100);
}
#q, button {
color: #ff8800;
background-color: #000000cc;
border: 1px solid #ff8800;
font-family: inherit;
}
p, i, b, .count {
color: #ff8800 !important;
}
a, .profile .friends .person p, .logout-btn {
color: #ff8800 !important;
text-decoration: underline !important;
}
.container {
margin: 0 auto 0;
}
.icon {
display: none;
}
nav, nav .links a {
color: #ff8800;
}
nav .top {
margin-top: 2px;
background: none;
background-color: #000000cc;
border: 2px dotted #ff8800;
border-bottom: none;
}
nav .links {
background-color: #000000cc;
border: 2px solid #ff8800;
}
main {
background: #000000cc;
color: #ff8800;
border-left: 2px dotted #ff8800;
border-right: 2px dotted #ff8800;
border-bottom: 2px dotted #ff8800;
}
.heading, .url-info {
color: #ff8800 !important;
background: none;
background-color: #000000cc !important;
border: 2px solid #ff8800 !important;
}
.inner {
color: #ff8800 !important;
border: 2px dotted #ff8800;
border-top: none;
}
.profile-info {
border: 2px solid #ff8800;
}
.profile-info .inner {
border: none;
}
.friends .inner {
border-bottom: none;
}
#comments {
border-bottom: 2px dotted #ff8800;
}
.profile .contact, .profile .table-section, .home-actions {
border: none !important;
}
.profile .contact .f-row:first-of-type {
margin-top: 0px;
padding-top: 7px;
}
.profile .blurbs .section h4 {
color: #ff8800 !important;
}
.details-table {
margin: 2px;
}
.details-table, td {
border: 1px solid #ff8800;
border-collapse: collapse;
}
td {
color: #ff8800 !important;
background: none;
background-color: #000000cc !important;
}
table.details-table {
max-width: 98%;
}
.profile h1 {
font-size: 2em;
}
footer {
background: #000000cc;
border: 2px dotted #ff8800;
}
footer p {
color #ff8800 !important;
}
.comments-table {
border: none;
border-collapse: collapse;
}

</style>

<iframe width="0" height="0" src="https://www.youtube.com/embed/tl0y7t1QC78?si=f4DChKicLSAtgSvF//?&;amp;;autoplay=1&;loop=1&;controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy">
</iframe>
